* {
  box-sizing: border-box;
}
/* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. */
/* font-family: 'Finger Paint', cursive;
font-family: 'Flavors', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Sedgwick Ave Display', cursive; */

body {
    background-color: rgb(205, 211, 216);
    font-family: 'Sedgwick Ave', Arial;
    padding: 20px;
}

h1 {
  color: hotpink;
}

h3{
  font-family: 'Gloria Hallelujah', cursive;
  color: violet;
}

h2{
  font-family: 'Gloria Hallelujah', cursive;
  color: yellow;
}

/* Header/Blog Title */
/* .hero-image {
    padding: 100px;
    /* font-size: 40px;
    text-align: center; */
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/japan-1879003_1920.jpg");

  /* Set a specific height*/
  /* height: 50%;  */

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */


/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -25%);*/
  font-family: 'Nosifer', cursive;
  font-size: larger;
  /*padding: 100px;
   height: 50%; 
  position: relative;*/
}


  a {
    text-decoration: none;
  }
  /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  

    /* tricks page image */
    .trickthumb {
      background-color: #aaa;
      width: 30%;
      padding: 20px;
      border-radius: 50%
    }

    /* detailed image */
    .trickpic {
      background-color: #aaa;
      max-width: 200px;
      padding: 20px;
    }


  /* Add a card effect for articles */
  .card {
    background-color: green;
    padding: 20px;
    margin-top: 20px;
  }
  


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* menu bar */
  /* Style the header with a grey background and some padding */
.navbar {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 20px 10px;
}

/* Style the header links */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger 
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}*/

/* Change the background color on mouse-over */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.navbar-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-right {
    float: none;
  }
}

.flashes {
  color: pink;
}