{% extends 'base.html' %}
{% block myContent %}

<p>
    In January 2022 I signed up for a beginner-level online skating challenge.
    This blog will document my journey, however long or short that turns out to be.
</p>
<p>
    I have been rollerskating on and off for a few years but I never attempted to use a skatepark. I didn't know where to start.
    The small challenges in the online game give me something to focus on, and force me to document the process, since proof of each attempt needs to be submitted.
    I am hoping to look back on the videos and see progress.
</p>
<p>
    The online game I am participating in is called International Game Of Roller Skate, or IGORS.
    There are many games of different levels and specialisations. I am doing the total beginner one. You just need to be able to skate forwards and backwards to qualify.
    Games run until one player remains and is declared winner.
    Players get a strike each time they fail to complete a challenge within the alloted time, and after five strikes they are out.
</p>
{% endblock %}