{% extends 'base.html' %}
{% block myContent %}
{% for whatevs in list_of_numbers %}
<p>{{whatevs}}</p>
{% endfor %}
<p>
    In January 2022 I signed up for a beginner level online skating challenge. I created this blog to document my journey.
</p>
<p>
    I have been rollerskating on and off for a few years but I never attempted to use a skatepark until now.
    The small challenges in the online game give me something to focus on, and force me to document the process.
    I am hoping to look back on the videos and see progress.
</p>
<p>
    The online game I am participating in is called International Game Of Roller Skate, or IGORS.
</p>
{% endblock %}