<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Flavors&family=Gloria+Hallelujah&family=Nosifer&family=Rock+Salt&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <title>{{ page_title }}</title>
</head>
<body>
    <!-- <div class="hero-image" alt="a child inside a concrete bowl"> -->
      <div class="hero-text">
            <a  href="{{ url_for('index') }}"><h1 >Eager for IGORS</h1></a>
      </div>
    <!-- </div> -->
    <div class="navbar">
      <div class="navbar-right">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('tricks') }}">Tricks</a>
            <a href="{{ url_for('contact') }}">Contact</a>
      </div>
    </div>


        </ul>
    </navbar>
    <!-- main section -->
    <div>
            {% block myContent %}
            {% endblock %}
    
    </div>    
        <div class="footer">
          <p>Copyright &copy; nishuileabhain 2022 </p>
        </div>
    </div>

</body>
</html>