{% extends 'base.html' %}
{% block myContent %}
<h2>This is a page of all the tricks</h2>
    {% for trick in tricks %}
    
    <h3><a href="/tricks/{{ trick.url }}">Trick#{{ loop.index}}: {{trick.name}}</a></h3>
    
    <div>
        <img src="{{ trick.image_source }}" alt="example of the trick" class="trickthumb">
    </div>
    {% endfor %}

{% endblock %}

<div class="row">
    <div class="leftcolumn">

        <div class="card">
             
           <!-- <h5>title description</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p> -->
   
        </div>
    </div>

    <!-- right side section -->
    <div class="rightcolumn">
        <div class="card">
          <h2><a href="{{ url_for('about') }}">About me</a></h2>
          <div class="fakeimg" style="height:100px;">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div>
        </div>
        <div class="card">
          <h3><a href="{{ url_for('contact') }}">contact me</a></h3>
          <p>Some text..</p>
        </div>
      </div>
    </div>